<!-- filepath: /home/techdevalex/Onboarding/CodingProjects/TMCustomCardEditor/cardeditor/src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TM Card Editor</title>
</head>
<body>
    <h1>Welcome to the TM Card Editor!</h1>
    <p>This is the main page of the TM Card Editor.</p>
    <h2>click here to see all <a href="/cards">cards</a></h2>
</body>
</html>